.title {
  width: 100%;
  font-size: 3rem;
  color: darkblue;
  margin-bottom: 50px;
  background-color: yellow;
}

#head {
  float: left;
  text-decoration: none;
}

#scores {
  float: right;
}

#msg {
  text-align: center;
}